.card {
    display: flex;
    column-gap: 20px;
    width: calc((100%/3) - 65px);
    height: 15rem;
    padding: 25px;
    border-radius: 5%;
    background-color: #FBFCfF;
    cursor: pointer;
}

.card:hover {
    border: 1px solid #C5CEE6;
    box-shadow: 1px 1px #ECF1FC;
}

.cardContent {
    display: flex;
    flex-flow: column;
    row-gap: 1.25rem;
    width: 60%;
    margin: 1.5rem 0;
}

.description {
    font-size: 1.2rem;
    font-weight: 500;
    color: #262C42;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagsContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.tags {
    padding: 1% 4%;
    border: 1px solid #849FFF;
    border-radius: 15%/ 55%;
    font-size: 15px;
    font-weight: 600;
    color: #5A77D7;
    list-style: none;
    cursor: pointer;
}

.tags:hover {
    color: #000;
    border-color: #FFF;
}
