.bannerContainer {
    display: flex;
}

.bannerContent {
    width: 50%;
    margin: 170px 0 0 150px;

    h6 {
        margin-top: 20px;
        font-size: 4.65rem;
        font-weight: 400;
        color: #791754;
        text-transform: capitalize;
    }
    .description {
        position: absolute;
        width: 62rem;
        padding: 80px 61px;
        margin: 30px 0 60px;
        font-size: 3rem;
        font-weight: 700;
        word-spacing: 0.2rem;
        color: #FFF;
        background-color: #7A1655;
    }

    .temperature {
        position: relative;
        font-size: 3.5rem;
        margin: 350px 0 60px;
    }
}

.detailsContainer {
    display: flex;
    flex-flow: row wrap;
    row-gap: 50px;
    width: 88%;
    margin: 85px auto;
    font-size: 1.9rem;
    font-weight: 300;
    text-align: justify;
    white-space: pre-line;
}