@import '../../styles/variables.scss';
.checkBoxGrp {
    @include display-flex(center, center, row, nowrap);
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        opacity: 0;
        cursor: pointer;

        & ~.checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border: 1px solid var(--pink-color);
            border-radius: 3px;
            
            &:after {
                content: '';
                position: absolute;
                display: none;
                left: 8px;
                top: 4px;
                width: 2px;
                height: 7px;
                border: solid var(--white-color);
                border-width: 0px 1.5px 1.5px 0;
                transform: rotate(45deg);
            }
        }
        &:checked ~ .checkmark {
            background-color: var(--pink-color);
            border-color: var(--pink-color);
            &::after {
                display: block;
            }
        }
    }
}