@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.title {
    font-family: 'Merriweather', serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageTitle {
    font-size: 2.5em;
    cursor: pointer;
}

.cardTitle {
    font-size: 1.5rem;
}