@mixin display-flex($justify-content, $align-items, $direction, $flex-wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-flow: $direction $flex-wrap;
}