.logo {
    height: 30px;
}

.coverImage {
    width: 100%;
    height: 95vh;
}

.trailerImage {
    width: 56.5%;
    height: 15rem;
}

.movieCardImage {
    width: 100%;
    height: 240px;
}

.detailsImage {
    width: 155px;
    height: 195px;
}

.teaserAd {
    width: 425px;
    height: 300px;
}

.movieAd {
    margin-top: 5rem;
    width: 100%;
    height: 40rem;
}