@import '../../variables.scss';
.nowShowingContainer {
    padding: 3rem 0 5rem;
    background-color: #111;
}

.nowShowingContent {
    width: 70%;
    margin: 0 auto;
    color: $primary-text-color;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $secondary-text-color;
}

.movieTitle {
    margin-top: 2rem;
    font-size: 3rem;
}

.movie {
    width: 1180px;
    height: 50vh;
    margin-top: 1rem;
    object-fit: cover;
    border: none;
}

.description {
    margin-top: 2rem;
    font-size: 1.35rem;
    line-height: 1.2;
}
