.card {
    width: calc((100% - 66px)/3);
}

.categoryTitle {
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 400;
}

.description {
    height: 250px;
    font-size: 0.95rem;
    font-weight: 400;
    color: #4E4E4E;
    white-space: pre-wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}