.bannerContainer {
    display: flex;
}

.bannerContent {
    width: 50%;
    margin: 170px 0 0 150px;

    h6 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #9A4F7E;
        text-transform: uppercase;
    }
    p {
        margin: 40px 0 60px;
        font-size: 4.3rem;
        font-weight: 300;
        word-spacing: 0.2rem;
        color: #7A1655;

        span {
            font-weight: 600;
        }
    }
    select {
        position: absolute;
    }
}

.exploreBtn {
    margin-top: 85px;
}

.destinationContainer {
    width: 88%;
    margin: 0 auto;
}