@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.sidebarContainer {
    @include display-flex(space-between, flex-start, column, nowrap);
    flex-basis: 150px;
    min-width: 15%;
    height: 95vh;
    padding: 3rem 50px 5vh 45px;
    background-color: var(--primary-bg);

    .title {
        margin-left: 10px;
        font-family: $font-roboto;
        font-size: 1.75rem;
        font-weight: 400;
        color: var(--pink-color);
        opacity: 0.9;
        
        span{
            color: var(--black-color);
            font-weight: 500;
        }
    }
}

.filter {
    margin-top: 11rem;
    .filterTitle {
        margin-bottom: 20px;
        font-family: $font-ibm;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.utilityContainer {
    font-family: $font-ibm;
    font-size: 0.9rem;
    color: var(--color-black);
    cursor: pointer;
    
    .switch {
        margin-top: 10px;
    }
}