.sectionHeader {
    h2 {
        margin-top: 75px;
        font-size: 2.7rem;
        font-weight: 500;
        color: #7A1655;
    }
    p {
        font-size: 1.4rem;
        font-weight: 300;
        color: #994C7C;
    }
}