.navMenu {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    gap: 68px;
    margin-left: 12px;
    
    list-style: none;
    a {
        padding-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        color: #000;
        &:hover, &.active {
            border-bottom: 10px solid #000;
        }
    }
}