@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
.modalContainer {
    @include display-flex(center, center, row, wrap);
    
    .modalContent {
        padding: 20px;
        width: 30%;
        height: 15%;
        background-color: var(--white-color);
    }

    .modalTitle {
        text-align: center;
    }

    .buttonsContainer {
        @include display-flex(space-between, center, row, wrap);
    }
}