@import '../../variables.scss';
.teasersContainer {
    width: 80%;
    margin: 0 auto;
    color: $primary-text-color;

    h5 {
        font-size: 2.25rem;
        font-weight: 400;
    }
}

.videosContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    h6 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 50%;
    margin: 10px auto 0;
}